* {
    font-family: Arial, Helvetica, sans-serif;
}
input {
    width: 100%;
    min-height: 40px;
    border: none;
    margin-bottom: 30px;
}


input:focus-visible {
    border: white;
}

#input{
    padding-left: 10px;
    padding-right: 10px;
}

#errors {
    background-color: yellowgreen;
    
}

ul {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    row-gap: 6px;
}

input, ul li {
    min-height: 40px;
    background-color: rgb(255, 255, 255);
    list-style-type: none;    
    
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
}

input {
    font-size: 1rem;
    font-weight: 600;
    text-transform: lowercase;
    padding-left: 10px;
}
input:first-letter {
    text-transform: uppercase;
}

input:focus, input:focus-visible {
    outline: none;
}

input:hover, .icon:hover {
    background-color: rgb(240, 238, 238);
}

input:active, .icon:active {
    background-color: rgb(225, 221, 221);
}
.fa-trash-can {
    color: rgb(184, 223, 46);
}